<div class="container" style="background-color: blue; margin-top: 5%">
   
    <div class="jumbotron" style="background-color: lightgray">
      <center><h1 class="container">MBR Portal</h1></center><br>
      <center><a href="LoginPage"><button class="btn btn-success">Sign In</button></a></center><br>
      <center><a href="FundsForm"><button class="btn btn-primary">Register</button></a></center><br>
  </div>
</div>
  