<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

  // ajax function 
  $(document).ready(function () {
                  $("#loginform").submit(function(e) {
                      console.log("login request");
                      e.preventDefault();
                      $.ajax({
                          type : "POST",
                          // web service url
                          url:"https://webservicenimbus.herokuapp.com/check_credentials",
                          data : {
                            "user_id":$("#user_id").val(),
                            "password":$("#password").val(),
                          },
                          beforeSend : function() {
                            console.log("Web service called");
                          },
                          success : function(response) {
                              console.log("Web service call success. Response received.");
                              console.log(response);
                            
                              if (response.error_message != ''){
                                $("#resOutput").html(response.error_message);
                              }
                              else{
                                localStorage.setItem("user_data",JSON.stringify(response));
                                localStorage.setItem("isLoggedIn", true);
                                window.location.href = "ApplicationStatus";
                              }
                              
                          },
                          error: function(error) {
                            console.log("Web service call failed. Error: ", error)
                            alert('We are facing server issue. Please try again later.');
                            window.location.href = "/";
                          }
                      });
                      e.preventDefault();
                  });

  });
</script>
</head>

<body>
    <div class="container" style="background-color: blue; margin-top: 5%">
   
        <div class="jumbotron" style="background-color: lightgray">
      <center>
        <h1 class="display-4 text-center">Login Form</h1>
      </center><br><br>

      <div class="row text-center">

          <!-- COLUMN 1 -->
          <div class="col-sm-4"></div>
    
          <!-- COLUMN 2 -->
          <div class="col-sm-4">
      <!-- Login form of MBR portal -->
      <form method="post" id="loginform">
        <div class="form-group">
          <label><strong>Mortgage ID</strong></label>
          <input type="text" id="user_id" name="user_id" class="form-control"
            placeholder="Enter confirmation ID of your application" required><br>
          <div class="form-group">
            <label><strong>Password</strong></label>
            <input type="password" id="password" name="password" class="form-control" minlength="8"
              placeholder="Enter your password" required>
          </div>
          <center><input type="submit" value="Sign In" class="btn btn-success"></center>
      </form>
    </div>
    <div id="response" class="col-md-6 container">
      <center>
        <h2 id="resHeader"></h2>
      </center>
      <p id="resOutput"></p>
    </div>
  </div>