<script>
    console.log(localStorage.getItem('isLoggedIn'));
    if (localStorage.getItem('isLoggedIn') == null || localStorage.getItem('isLoggedIn') == 'false') {
        alert("Please login to continue.");
        window.location.href = "/";
    }

  var startTime = parseFloat(sessionStorage.getItem('StartTime'));

  if(Date.now() > startTime + 60000) {
    console.log("Session expired");
    alert("Your token has been expired. Please login again.");
    window.location.href = "/";
  }

    function logout() {
        console.log("Logout pressed");
        localStorage.setItem('isLoggedIn', false);
        window.location.href = "/";
    }
</script>

<div class="container" style="background-color: blue; margin-top: 1%">
  <div class="jumbotron" style="background-color: lightgray">
    
       
    <div style="text-align:right">
      <span>
      Welcome <%=req.session.firstName%> <%=req.session.lastName%>
      <button value="logout" class="btn btn-primary" onclick="logout()">Logout</button>
      </span>

  </div>
    <h1 class="display-4 text-center">Mortgage Form</h1>



    <div class="row text-center">

      <!-- COLUMN 1 -->
      <div class="col-sm-4"></div>

      <!-- COLUMN 2 -->
      <div class="col-sm-4">

        <form id="kemcho">

          <input type="hidden" id="userID" name="userID" value=<%=req.session.userid%>>
          
          <div class="form-group">
            <label for="mid"><strong id="MID" style="font-size: 20px">Mortgage Id:</strong></label>
            <input type="text" name="mid" class="form-control" id="mid" placeholder="Enter your mortgageID" required>
          </div>

          <div class="form-group">
            <label for="lnk"><strong id="LNK" style="font-size: 20px">Link:</strong></label>
            <input type="lnk" name="lnk" class="form-control" id="lnk" placeholder="Link provided by broker" required>
            <p class="text-danger" id="linkTest"></p>
          </div>


          <p>By clicking "Agree" I give consent to providing personal information to an external party.</p>
          <button type="submit" class="btn btn-primary">Agree</button>
        </form>

      </div>

      <!-- COLUMN 3 -->
      <div class="col-sm-4"></div>
      <!--Login FORM-->

    </div>

  </div>
</div>
</div>

<div class="container" style="background-color: blue;display: none" id="resultDiv">
  <strong>
    <p id="result" class="jumbotron"
      style="text-align: center; margin-bottom: 10%;font-size: 25px;background-color: lightgray"></p>
  </strong></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">
  (function ($) {
    
    function retrieveEmployeeData(e) {
      console.log("[retrieveEmployeeData] Function Called");
      var userId = $('#userID').val();
      var myData = { id: userId };

      $.ajax({
       url: 'https://webservicenimbus.herokuapp.com/employer/retrieveData',
        dataType: 'jsonp',
        type: 'POST',
        data: myData,
        success: function (data) {

          console.log("[retreiveData] Success");
          if (data['ErrorMessage'] == 'Success'){
            submitEmployeeToBrocker(e, data['Employee']);
          }
          else {
            alert(data['ErrorMessage']);
          }

        },
        error: function (error) {
          $("#result").html("Error : Oops, there seems to be an error with the web service. Please try again later.");
          console.log("[retreiveData] Error occured");
          console.log(error);
        }
      });
      //prevent the error from taking the user from the default page
      e.preventDefault();
    }

    function submitEmployeeToBrocker(e, employee) {

      console.log("[submitEmployeeToBrocker] Function Called");

      var startTime = parseFloat(sessionStorage.getItem('StartTime'));

      if(Date.now() > startTime + 60000) {
        console.log("Session expired");
        alert("Your token has been expired. Please login again.");
        window.location.href = "/";
      }

      var mortgageID = $('#mid').val();
      var webserviceurl = $('#lnk').val();
      var token = sessionStorage.getItem('Token');
      console.log(webserviceurl)
      e.preventDefault();
      $.ajax({
        
        //url: 'http://localhost:1338/validateApplication',
        url: webserviceurl + "/validateApplication",
        type: 'POST',
        headers: { "Authorization":'Bearer '+token, 'Access-Control-Allow-Origin': '*','Access-Control-Allow-Headers': '*'},
        data: {
          "mortgageID": mortgageID,
          "employeeName": (employee.userFirstName + " " + employee.userLastName),
          "employer_name": employee.employerName,
          "salary": employee.salary,
          "employment_length": employee.employmentLengthYears,
          "employeeID": employee.employeeID,
        },
        
        dataType: 'json',
        //Authorization: 'Bearer '+token,
        crossDomain: true,
        success: function (data) {
          console.log("[submitEmployeeToBrocker] Response received successfully.");
          if (data.status == "ERROR") {
            $("#result").html("Error : " + data.error_message);
          }
          else {
            $("#result").html("Result : " + data.status);
          }

          $("#resultDiv").css("display", "block");

        },
        error: function (error) {
          $("#result").html("Error : Oops, there seems to be an error with the web service. Please try again later.");
          $("#resultDiv").css("display", "block");
          console.log("[submitEmployeeToBrocker] Error occured");
          console.log(error);

        }
      });

      e.preventDefault();
    }

    $('#kemcho').submit(retrieveEmployeeData);

  })(jQuery);

</script>