<div class="container" style="background-color: blue; margin-top: 5%">
   
  <div class="jumbotron" style="background-color: lightgray">
      <center><h1 class="container">Real Estate Portal</h1></center><br>
      <center><a href="ApprovalForm"><button class="btn btn-success">Property Appraisal Form</button></a></center><br>
      <center><a href="ApprisalForm"><button class="btn btn-primary">Appraiser Sign In</button></a>
      </center><br>
  </div>
</div>
   